.container{
    max-width: 300px;
    width: 100%;
    margin: auto;
}
.notif{
    width: 150px;
    height: 40px;   
    background-color: orange;
    position: relative;
}
p{
    display: block;
    text-align: center;
    padding-top: 12px;
    color: white;
}
.badge{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    right:-5px;
    top: -5px;
    color: white;
    transition-duration: 1s;
}
.notif:hover{
    background-color: red;
}
.notif:hover .badge{
    transform: translate(-40px,5px);
    color: red;
    z-index: -1;
}